/* Set core root defaults */
@import url('https://fonts.googleapis.com/css?family=Rubik:100,200,300,400,500,600,700,800,900');

:root {
  --clr-base-blue: rgb(146, 206, 208, 1);
  --clr-base-green: rgb(85, 143, 94, 1);
  --clr-base-purple: rgba(13, 4, 42, 1);

  --clr-opaque-green: rgb(85, 143, 94, 0.7);
  --clr-opaque-purple: rgba(13, 4, 42, 0.7);

  --clr-body-boxes: rgba(122, 154, 157, 0.6);
  
  --clr-txt-main: rgba(255, 255, 255, 1);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', Sans-Serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.title, .author {
  display: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:focus {
  outline: 2px solid rgba(255, 255, 255, 1);
  outline-offset: 3px;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-image: url("img/sch_back.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  overflow-x: hidden;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

.bodybody {
  margin-top: 100px;
  padding-right: 25px;
  padding-left: 25px;
}

.body-title-box {
  position: absolute;
  top: 0;
  left: 1%;
  align-items: center;
  justify-content: left;
  color: var(--clr-txt-main);
}

.body-titles {
  margin-left: 1rem;
  font-size: 30px;
  font-weight: 500;
}

.cite {
  grid-area: images;
  position: absolute;
  color: black;
  font-size: 18px;
  font-weight: 500;
  right: 30px;
  bottom: 15px;
}

.main-container {
  max-width: none !important;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}








/* Title page styling*/

.titlepage-box {
  height: 100vh;
  background-image: linear-gradient(100deg, var(--clr-base-purple), var(--clr-base-blue));
  box-shadow: 3px 7px 1rem rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "header gall"
    "header gall"
}

.primary-header {
  grid-area: header;
  position: relative;
  text-align: center; 
  /*height: 5.9vw;*/
  margin: 30px 0 0 0;
  display: grid;
  grid-template-columns: 31% 3% 33% 33%;
  grid-template-rows: 8% 92%;
  grid-template-areas:
    "logo . header1 header2 ."
    "title title title title title"
}

.cs-logo {
  grid-area: logo;
  background-color: white;
  border-radius: 0.5rem;
  padding: 1px 1px 1px 1px;
  width: 12vw;
  min-width: 100px;
  justify-self: right;
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
}

.headerone {
  grid-area: header1;
  font-size: 16px;
  color: var(--clr-txt-main);
  margin: auto;
  font-weight: 600;
}

.headertwo {
  grid-area: header2;
  font-size: 16px;
  color: var(--clr-txt-main);
  margin: auto;
  font-weight: 600;
}

.titlepage-title {
  grid-area: title;
  text-align: center;
  font-size: 100px;
  font-weight: 200;
  padding: 80px 30px 0 50px;
  color: var(--clr-txt-main);
}

.titlepage-title2 {
  grid-area: title;
  text-align: center;
  font-size: 100px;
  font-weight: 600;
  margin-bottom: 100px;
}

.titlepage-subtitle {
  grid-area: title;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
}

.image-stack {
  grid-area: gall;
  display: grid;
  position: relative;
  padding: 0 30px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(16, 6.25%);
}

.cinq-bottom {
  grid-row: 2;
  grid-column: 4 / span 8;
  width: 100%;
  display: block;
  border: 8px solid white;
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
}

.crow-mid {
  grid-row: 6;
  grid-column: 5 / span 6;
  z-index: 1;
  width: 100%;
  display: block;
  border: 8px solid white;
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
}

.map-top {
  grid-row: 5;
  grid-column: 1 / span 7;
  z-index: 2;
  width: 100%;
  display: block;
  border: 8px solid white;
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
}








.crowside {
  position: absolute;
  max-width: 65px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 7.5px;
  aspect-ratio: 1/1;
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
  top: 20px;
}

.cinqside {
  position: absolute;
  max-width: 65px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 7.5px;
  aspect-ratio: 1/1;
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
  top: 140px;
}


.titleheader {
  color: var(--clr-txt-main);
  font-size: 5vw; 
  font-weight: 600;
}

.test {
  font-size: 200px;
  line-height: 500px;
}





/* Title styling*/

.page-titlebox {
  position: relative;
  text-align: left;
  margin-top: -50px !important;
}

.bodytitle {
  position: relative;
  color: var(--clr-base-purple);
  font-size: 5vw;
  font-weight: 600;
  margin-left: 20px;
}

.subtitle {
  position: relative;
  margin-top: 15px;
  color: var(--clr-base-purple);
  font-size: 3vw;
  margin-left: 300px;
}








/* Intro styling*/

.intro-box {
  position: relative;
  background-color: var(--clr-body-boxes);
  margin: 50px auto;
  width: 100%;
  padding: 50px 30px 30px 30px;
  border-radius: 1rem;
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
  display: grid;
  grid-column-gap: 4%;
  grid-template-columns: 48% 48%;
  grid-template-areas: 
    "crowb cinq"
    "text text"
}

.crowbox {
  grid-area: crowb;
  margin: 0 auto;
  max-width: 60%;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1/1;
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
  border: 1px solid black;
}

.cinqbox {
  grid-area: cinq;
  margin: 0 auto;
  max-width: 60%;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1/1;
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
  border: 1px solid black;
}

.ds-text {
  font-size: 18px;
  color: var(--clr-txt-main);
}

.intro-text {
  grid-area: text;
  margin: 20px auto;
  padding: 20px;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
  color: black;
  font-size: 18px;
}

.intro-img-box {
  grid-area: theimg;
  margin: 20px auto;
  padding: 20px;
  border-radius: 1rem;
  background-color: var(--clr-opaque-green);
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: 
    "inat"
    "ebird"
}

.inat-logo {
  grid-area: inat;
  position: relative;
  display: block;
  margin: 20px auto 0px auto;
  height: 80px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.4);
  padding: 2rem 3.5rem;
  border-radius: 8rem;
}

.ebird-logo {
  grid-area: ebird;
  position: relative;
  display: block;
  margin: 20px auto 0px auto;
  height: 80px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.4);
  padding: 2rem 3.5rem;
  border-radius: 8rem;
}





/* Pests box styling */

.pests-box {
  position: relative;
  background-color: var(--clr-body-boxes);
  margin: 50px auto;
  width: 100%;
  padding: 50px 30px 30px 30px;
  border-radius: 1rem;
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: 
    "images"
    "text"
}

.pests-img {
  grid-area: images;
  max-height: 250px;
  width: 100%;
  margin: 20px auto;
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
  object-fit: cover;
  overflow: hidden;
  border-radius: 1rem;
}

.pests-table {
  grid-area: text;
  margin: 20px auto auto auto;
  padding: 20px;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
  color: black;
  font-size: 18px;
}





/* TE box styling */

.te-box {
  position: relative;
  background-color: var(--clr-body-boxes);
  margin: 50px auto;
  width: 100%;
  padding: 50px 30px 30px 30px;
  border-radius: 1rem;
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: 
    "images"
    "text"
}

.te-img {
  grid-area: images;
  max-height: 250px;
  width: 100%;
  margin: 20px auto;
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
  object-fit: cover;
  overflow: hidden;
  border-radius: 1rem;
}

.te-table {
  grid-area: text;
  margin: 20px auto auto auto;
  padding: 20px;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
  color: black;
  font-size: 18px;
}





/* Rare box styling */

.rare-box {
  position: relative;
  background-color: var(--clr-body-boxes);
  margin: 50px auto;
  width: 100%;
  padding: 50px 30px 30px 30px;
  border-radius: 1rem;
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: 
    "images"
    "text"
}

.rare-img {
  grid-area: images;
  max-height: 250px;
  width: 100%;
  margin: 20px auto;
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
  object-fit: cover;
  overflow: hidden;
  border-radius: 1rem;
}

.rare-table {
  grid-area: text;
  margin: 20px auto auto auto;
  padding: 20px;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
  color: black;
  font-size: 18px;
}







/* New species box styling */

.new-box {
  position: relative;
  background-color: var(--clr-body-boxes);
  margin: 50px auto;
  width: 100%;
  padding: 50px 30px 30px 30px;
  border-radius: 1rem;
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: 
    "images"
    "text"
}

.new-img {
  grid-area: images;
  max-height: 250px;
  width: 100%;
  margin: 20px auto;
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
  object-fit: cover;
  overflow: hidden;
  border-radius: 1rem;
}

.new-table {
  grid-area: text;
  margin: 20px auto auto auto;
  padding: 20px;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
  color: black;
  font-size: 18px;
}







/* Credits box styling */

.credits-box {
  position: relative;
  background-color:  rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
  margin: 50px auto;
  width: 100%;
  padding: 30px;
  display: grid;
  grid-column-gap: 2%;
  grid-template-columns: 38% 60%;
  grid-template-areas: 
    "images text"
}

.schoodic-img {
  position: relative;
  grid-area: images;
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
  object-fit: cover;
  overflow: hidden;
  border-radius: 1rem;
}

.credits-text {
  grid-area: text;
  padding: 10px;
  text-align: left;
  color: black;
  font-size: 20px;
  font-weight: 500;
}






/* Media query styling */

@media screen and (max-width: 880px) {
  
  .intro-box {
    grid-column-gap: none;
    grid-template-columns: 100%;
    grid-template-areas: 
      "text"
      "theimg"
  }
  
  .intro-img-box {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
      "inat ebird"
  }
  
  .inat-logo {
    margin: auto;
  }
  
  .ebird-logo {
    margin: auto;
  }
  
}



@media screen and (max-width: 600px) {
  
  .intro-img-box {
    grid-template-columns: 100%;
    grid-template-areas: 
      "inat"
      "ebird"
  }
  
  .credits-box {
    grid-row-gap: 30px;
    grid-template-columns: 100%;
    grid-template-areas: 
      "images"
      "text"
  }
  
  .inat-logo {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .ebird-logo {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
}


@media screen and (max-width: 568px) {
  
  .te-img {
    margin: 40px auto 20px auto;
  }
  
  
}